/*
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
Name : index . html
Assignment : Assignment 1
Group members : Alvin Long
UCIDs : 30184369
Submission : Feb 1 , 2024
File description : This file will be used in the next assignment for styling. For now, you can
create an empty file
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
*/